In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('Social_Network_Ads.csv')

In [3]:
#what saved in this file#
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [8]:
dataset=dataset.drop("User ID",axis=1)

In [9]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [10]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [11]:
#show all columns in dataset#
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [12]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['Age', 'EstimatedSalary','Gender_Male']]

In [13]:
#what saved in this file#
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [14]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Purchased']]

In [15]:
#what saved in this file#
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [16]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
#Model creation#
from sklearn.model_selection    import GridSearchCV
from sklearn.neighbors    import KNeighborsClassifier
param_grid = {
    'n_neighbors': [3, 5, 7, 9],          # Number of neighbors
    'weights': ['uniform', 'distance'],   # Weight function used in prediction
    'metric': ['euclidean', 'manhattan', 'minkowski'],  # Distance metric
    'p': [1, 2]  # Power parameter for Minkowski (1 = Manhattan, 2 = Euclidean)
}
grid=GridSearchCV(KNeighborsClassifier(), param_grid, refit=True, verbose=3,n_jobs=-1,scoring='f1_weighted')

#fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski'],
                         'n_neighbors': [3, 5, 7, 9], 'p': [1, 2],
                         'weights': ['uniform', 'distance']},
             scoring='f1_weighted', verbose=3)

In [19]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
y_pred = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [20]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'metric': 'euclidean', 'n_neighbors': 7, 'p': 1, 'weights': 'uniform'}: 0.9171245421245421

In [21]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[73  6]
 [ 4 37]]

In [22]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.95      0.92      0.94        79
           1       0.86      0.90      0.88        41

    accuracy                           0.92       120
   macro avg       0.90      0.91      0.91       120
weighted avg       0.92      0.92      0.92       120

In [23]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9424205001543686

In [24]:
table=pd.DataFrame.from_dict(re)

In [25]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_metric,param_n_neighbors,param_p,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006250,7.655181e-03,0.031253,8.662177e-07,euclidean,3,1,uniform,"{'metric': 'euclidean', 'n_neighbors': 3, 'p':...",0.892857,0.874254,0.841398,0.911105,0.910254,0.885974,0.026049,31
1,0.006250,7.655123e-03,0.018750,6.250763e-03,euclidean,3,1,distance,"{'metric': 'euclidean', 'n_neighbors': 3, 'p':...",0.874254,0.874254,0.824293,0.893717,0.891667,0.871637,0.025075,43
2,0.009376,7.655240e-03,0.021877,7.655746e-03,euclidean,3,2,uniform,"{'metric': 'euclidean', 'n_neighbors': 3, 'p':...",0.892857,0.874254,0.841398,0.911105,0.910254,0.885974,0.026049,31
3,0.003125,6.250000e-03,0.015629,1.921601e-06,euclidean,3,2,distance,"{'metric': 'euclidean', 'n_neighbors': 3, 'p':...",0.874254,0.874254,0.824293,0.893717,0.891667,0.871637,0.025075,43
4,0.006249,7.653487e-03,0.025003,7.653643e-03,euclidean,5,1,uniform,"{'metric': 'euclidean', 'n_neighbors': 5, 'p':...",0.874254,0.874254,0.876643,0.929144,0.946153,0.900089,0.031147,4
5,0.009374,7.653643e-03,0.015628,1.482036e-06,euclidean,5,1,distance,"{'metric': 'euclidean', 'n_neighbors': 5, 'p':...",0.855314,0.855314,0.859435,0.929144,0.946153,0.889072,0.040054,22
6,0.006251,7.655356e-03,0.025002,7.654403e-03,euclidean,5,2,uniform,"{'metric': 'euclidean', 'n_neighbors': 5, 'p':...",0.874254,0.874254,0.876643,0.929144,0.946153,0.900089,0.031147,4
7,0.006250,7.655181e-03,0.018006,4.759741e-03,euclidean,5,2,distance,"{'metric': 'euclidean', 'n_neighbors': 5, 'p':...",0.855314,0.855314,0.859435,0.929144,0.946153,0.889072,0.040054,22
8,0.004747,6.280401e-03,0.036895,6.976962e-03,euclidean,7,1,uniform,"{'metric': 'euclidean', 'n_neighbors': 7, 'p':...",0.874254,0.874254,0.859435,0.947015,0.964286,0.903849,0.042989,1
9,0.009375,7.654578e-03,0.018753,6.251860e-03,euclidean,7,1,distance,"{'metric': 'euclidean', 'n_neighbors': 7, 'p':...",0.855314,0.874254,0.859435,0.929144,0.946153,0.892860,0.037496,19
10,0.003125,6.249332e-03,0.018752,6.250000e-03,euclidean,7,2,uniform,"{'metric': 'euclidean', 'n_neighbors': 7, 'p':...",0.874254,0.874254,0.859435,0.947015,0.964286,0.903849,0.042989,1
11,0.003125,6.250381e-03,0.015626,2.150530e-06,euclidean,7,2,distance,"{'metric': 'euclidean', 'n_neighbors': 7, 'p':...",0.855314,0.874254,0.859435,0.929144,0.946153,0.892860,0.037496,19
12,0.000000,0.000000e+00,0.031253,1.081065e-06,euclidean,9,1,uniform,"{'metric': 'euclidean', 'n_neighbors': 9, 'p':...",0.855314,0.874254,0.841398,0.946663,0.964286,0.896383,0.049676,13
13,0.006250,7.655123e-03,0.015627,1.122341e-06,euclidean,9,1,distance,"{'metric': 'euclidean', 'n_neighbors': 9, 'p':...",0.855314,0.855314,0.859435,0.929144,0.946153,0.889072,0.040054,22
14,0.009375,7.654617e-03,0.025002,7.654208e-03,euclidean,9,2,uniform,"{'metric': 'euclidean', 'n_neighbors': 9, 'p':...",0.855314,0.874254,0.841398,0.946663,0.964286,0.896383,0.049676,13
15,0.006250,7.655181e-03,0.015626,7.599534e-07,euclidean,9,2,distance,"{'metric': 'euclidean', 'n_neighbors': 9, 'p':...",0.855314,0.855314,0.859435,0.929144,0.946153,0.889072,0.040054,22
16,0.006251,7.655765e-03,0.025002,7.655590e-03,manhattan,3,1,uniform,"{'metric': 'manhattan', 'n_neighbors': 3, 'p':...",0.892857,0.835985,0.840114,0.911105,0.911105,0.878233,0.033505,40
17,0.006250,7.654772e-03,0.015627,2.259826e-06,manhattan,3,1,distance,"{'metric': 'manhattan', 'n_neighbors': 3, 'p':...",0.874254,0.835985,0.806153,0.893717,0.911105,0.864243,0.038309,46
18,0.009374,7.653994e-03,0.025003,7.653896e-03,manhattan,3,2,uniform,"{'metric': 'manhattan', 'n_neighbors': 3, 'p':...",0.892857,0.835985,0.840114,0.911105,0.911105,0.878233,0.033505,40
19,0.015625,1.711624e-02,0.018751,6.251168e-03,manhattan,3,2,distance,"{'metric': 'manhattan', 'n_neighbors': 3, 'p':...",0.874254,0.835985,0.806153,0.893717,0.911105,0.864243,0.038309,46
20,0.000000,0.000000e+00,0.033965,5.423284e-03,manhattan,5,1,uniform,"{'metric': 'manhattan', 'n_neighbors': 5, 'p':...",0.855314,0.874254,0.858503,0.946663,0.964286,0.899804,0.046242,7
21,0.005565,6.901191e-03,0.020848,5.706951e-03,manhattan,5,1,distance,"{'metric': 'manhattan', 'n_neighbors': 5, 'p':...",0.874254,0.874254,0.824293,0.893717,0.964286,0.886161,0.045325,28
22,0.007198,7.097220e-03,0.018896,6.183901e-03,manhattan,5,2,uniform,"{'metric': 'manhattan', 'n_neighbors': 5, 'p':...",0.855314,0.874254,0.858503,0.946663,0.964286,0.899804,0.046242,7
23,0.006250,7.655181e-03,0.015628,2.279860e-06,manhattan,5,2,distance,"{'metric': 'manhattan', 'n_neighbors': 5, 'p':...",0.874254,0.874254,0.824293,0.893717,0.964286,0.886161,0.045325,28
24,0.006250,7.655181e-03,0.028127,6.250215e-03,manhattan,7,1,uniform,"{'metric': 'manhattan', 'n_neighbors': 7, 'p':...",0.855314,0.855314,0.858503,0.947015,0.964286,0.896086,0.048953,16
25,0.003125,6.250381e-03,0.015626,9.122432e-07,manhattan,7,1,distance,"{'metric': 'manhattan', 'n_neighbors': 7, 'p':...",0.855314,0.855314,0.824293,0.911105,0.946153,0.878436,0.043940,37
26,0.006250,7.655181e-03,0.031252,4.156970e-07,manhattan,7,2,uniform,"{'metric': 'manhattan', 'n_neighbors': 7, 'p':...",0.855314,0.855314,0.858503,0.947015,0.964286,0.896086,0.048953,16
27,0.006250,7.654772e-03,0.015626,8.064048e-07,manhattan,7,2,distance,"{'metric': 'manhattan', 'n_neighbors': 7, 'p':...",0.855314,0.855314,0.824293,0.911105,0.946153,0.878436,0.043940,37
28,0.000000,0.000000e+00,0.031252,1.210077e-06,manhattan,9,1,uniform,"{'metric': 'manhattan', 'n_neighbors': 9, 'p':...",0.855314,0.874254,0.858503,0.946663,0.964286,0.899804,0.046242,7
29,0.003125,6.249905e-03,0.015626,9.172146e-07,manhattan,9,1,distance,"{'metric': 'manhattan', 'n_neighbors': 9, 'p':...",0.855314,0.855314,0.841398,0.929144,0.946153,0.885465,0.043246,34
30,0.003126,6.251144e-03,0.031252,1.148376e-06,manhattan,9,2,uniform,"{'metric': 'manhattan', 'n_neighbors': 9, 'p':...",0.855314,0.874254,0.858503,0.946663,0.964286,0.899804,0.046242,7
31,0.003126,6.251717e-03,0.018751,6.251049e-03,manhattan,9,2,distance,"{'metric': 'manhattan', 'n_neighbors': 9, 'p':...",0.855314,0.855314,0.841398,0.929144,0.946153,0.885465,0.043246,34
32,0.003125,6.249905e-03,0.028127,6.249571e-03,minkowski,3,1,uniform,"{'metric': 'minkowski', 'n_neighbors': 3, 'p':...",0.892857,0.835985,0.840114,0.911105,0.911105,0.878233,0.033505,40
33,0.006250,7.654247e-03,0.015627,1.755901e-06,minkowski,3,1,distance,"{'metric': 'minkowski', 'n_neighbors': 3, 'p':...",0.874254,0.835985,0.806153,0.893717,0.911105,0.864243,0.038309,46
34,0.004798,6.310219e-03,0.029157,6.511759e-03,minkowski,3,2,uniform,"{'metric': 'minkowski', 'n_neighbors': 3, 'p':...",0.892857,0.874254,0.841398,0.911105,0.910254,0.885974,0.026049,31
35,0.003182,6.225462e-03,0.019779,8.620185e-03,minkowski,3,2,distance,"{'metric': 'minkowski', 'n_neighbors': 3, 'p':...",0.874254,0.874254,0.824293,0.893717,0.891667,0.871637,0.025075,43
36,0.000000,0.000000e+00,0.031252,2.132481e-07,minkowski,5,1,uniform,"{'metric': 'minkowski', 'n_neighbors': 5, 'p':...",0.855314,0.874254,0.858503,0.946663,0.964286,0.899804,0.046242,7
37,0.006250,7.655006e-03,0.018751,6.250143e-03,minkowski,5,1,distance,"{'metric': 'minkowski', 'n_neighbors': 5, 'p':...",0.874254,0.874254,0.824293,0.893717,0.964286,0.886161,0.045325,28
38,0.000000,0.000000e+00,0.031253,9.584308e-07,minkowski,5,2,uniform,"{'metric': 'minkowski', 'n_neighbors': 5, 'p':...",0.874254,0.874254,0.876643,0.929144,0.946153,0.900089,0.031147,4
39,0.003125,6.249714e-03,0.018752,6.250119e-03,minkowski,5,2,distance,"{'metric': 'minkowski', 'n_neighbors': 5, 'p':...",0.855314,0.855314,0.859435,0.929144,0.946153,0.889072,0.040054,22
40,0.015625,6.289914e-07,0.018752,6.250715e-03,minkowski,7,1,uniform,"{'metric': 'minkowski', 'n_neighbors': 7, 'p':...",0.855314,0.855314,0.858503,0.947015,0.964286,0.896086,0.048953,16
41,0.003126,6.252003e-03,0.018751,6.250191e-03,minkowski,7,1,distance,"{'metric': 'minkowski', 'n_neighbors': 7, 'p':...",0.855314,0.855314,0.824293,0.911105,0.946153,0.878436,0.043940,37
42,0.015625,2.323328e-06,0.015627,2.445389e-06,minkowski,7,2,uniform,"{'metric': 'minkowski', 'n_neighbors': 7, 'p':...",0.874254,0.874254,0.859435,0.947015,0.964286,0.903849,0.042989,1
43,0.006249,7.653896e-03,0.018753,6.252075e-03,minkowski,7,2,distance,"{'metric': 'minkowski', 'n_neighbors': 7, 'p':...",0.855314,0.874254,0.859435,0.929144,0.946153,0.892860,0.037496,19
44,0.006249,7.653429e-03,0.025003,7.653507e-03,minkowski,9,1,uniform,"{'metric': 'minkowski', 'n_neighbors': 9, 'p':...",0.855314,0.874254,0.858503,0.946663,0.964286,0.899804,0.046242,7
45,0.009375,7.654889e-03,0.018751,6.249619e-03,minkowski,9,1,distance,"{'metric': 'minkowski', 'n_neighbors': 9, 'p':...",0.855314,0.855314,0.841398,0.929144,0.946153,0.885465,0.043246,34
46,0.006250,7.654247e-03,0.025003,7.654733e-03,minkowski,9,2,uniform,"{'metric': 'minkowski', 'n_neighbors': 9, 'p':...",0.855314,0.874254,0.841398,0.946663,0.964286,0.896383,0.049676,13
47,0.006250,7.654889e-03,0.021877,7.655317e-03,minkowski,9,2,distance,"{'metric': 'minkowski', 'n_neighbors': 9, 'p':...",0.855314,0.855314,0.859435,0.929144,0.946153,0.889072,0.040054,22

In [26]:
age_input=float(input("Age."))
salary_input=float(input("salary:"))
sex_male_input=int(input("Sex Male 0 or 1:"))

Age. 20
salary: 55
Sex Male 0 or 1: 1

In [27]:
grid.predict([[age_input,salary_input,sex_male_input]])

array([1])