In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('Social_Network_Ads.csv')

In [3]:
#what saved in this file#
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [8]:
dataset=dataset.drop("User ID",axis=1)

In [9]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [10]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [11]:
#show all columns in dataset#
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [12]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['Age', 'EstimatedSalary','Gender_Male']]

In [13]:
#what saved in this file#
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [14]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Purchased']]

In [15]:
#what saved in this file#
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [16]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
#Model creation#
from sklearn.model_selection    import GridSearchCV
from sklearn.neighbors    import KNeighborsClassifier
param_grid = {
    'n_neighbors': [3, 5, 7, 9],          # Number of neighbors
    'weights': ['uniform', 'distance'],   # Weight function used in prediction
    'metric': ['euclidean', 'manhattan', 'minkowski'],  # Distance metric
    'p': [1, 2]  # Power parameter for Minkowski (1 = Manhattan, 2 = Euclidean)
}
grid=GridSearchCV(KNeighborsClassifier(), param_grid, refit=True, verbose=3,n_jobs=-1)

#fitting the model for grid search
grid.fit(X_train, y_train)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

C:\Users\anandha rishi\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski'],
                         'n_neighbors': [3, 5, 7, 9], 'p': [1, 2],
                         'weights': ['uniform', 'distance']},
             verbose=3)

In [21]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
y_pred = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [22]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'metric': 'euclidean', 'n_neighbors': 7, 'p': 1, 'weights': 'uniform'}: 0.9171245421245421

In [23]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[73  6]
 [ 4 37]]

In [24]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.95      0.92      0.94        79
           1       0.86      0.90      0.88        41

    accuracy                           0.92       120
   macro avg       0.90      0.91      0.91       120
weighted avg       0.92      0.92      0.92       120

In [25]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9424205001543686

In [26]:
table=pd.DataFrame.from_dict(re)

In [27]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_metric,param_n_neighbors,param_p,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.017805,0.006970,0.024743,1.274133e-02,euclidean,3,1,uniform,"{'metric': 'euclidean', 'n_neighbors': 3, 'p':...",0.892857,0.875000,0.839286,0.910714,0.910714,0.885714,0.026726,28
1,0.009375,0.007655,0.006250,7.654772e-03,euclidean,3,1,distance,"{'metric': 'euclidean', 'n_neighbors': 3, 'p':...",0.875000,0.875000,0.821429,0.892857,0.892857,0.871429,0.026245,43
2,0.011510,0.007804,0.018987,3.989948e-03,euclidean,3,2,uniform,"{'metric': 'euclidean', 'n_neighbors': 3, 'p':...",0.892857,0.875000,0.839286,0.910714,0.910714,0.885714,0.026726,28
3,0.003125,0.006250,0.012501,6.250596e-03,euclidean,3,2,distance,"{'metric': 'euclidean', 'n_neighbors': 3, 'p':...",0.875000,0.875000,0.821429,0.892857,0.892857,0.871429,0.026245,43
4,0.003125,0.006250,0.021877,7.655746e-03,euclidean,5,1,uniform,"{'metric': 'euclidean', 'n_neighbors': 5, 'p':...",0.875000,0.875000,0.875000,0.928571,0.946429,0.900000,0.031135,4
5,0.003125,0.006250,0.012500,6.250143e-03,euclidean,5,1,distance,"{'metric': 'euclidean', 'n_neighbors': 5, 'p':...",0.857143,0.857143,0.857143,0.928571,0.946429,0.889286,0.039770,22
6,0.006249,0.007654,0.015630,9.667454e-06,euclidean,5,2,uniform,"{'metric': 'euclidean', 'n_neighbors': 5, 'p':...",0.875000,0.875000,0.875000,0.928571,0.946429,0.900000,0.031135,4
7,0.012498,0.006249,0.003125,6.249619e-03,euclidean,5,2,distance,"{'metric': 'euclidean', 'n_neighbors': 5, 'p':...",0.857143,0.857143,0.857143,0.928571,0.946429,0.889286,0.039770,22
8,0.006250,0.007655,0.018752,6.252218e-03,euclidean,7,1,uniform,"{'metric': 'euclidean', 'n_neighbors': 7, 'p':...",0.875000,0.875000,0.857143,0.946429,0.964286,0.903571,0.043154,1
9,0.012501,0.006250,0.003125,6.250286e-03,euclidean,7,1,distance,"{'metric': 'euclidean', 'n_neighbors': 7, 'p':...",0.857143,0.875000,0.857143,0.928571,0.946429,0.892857,0.037457,19
10,0.009375,0.007655,0.015626,2.529485e-06,euclidean,7,2,uniform,"{'metric': 'euclidean', 'n_neighbors': 7, 'p':...",0.875000,0.875000,0.857143,0.946429,0.964286,0.903571,0.043154,1
11,0.000000,0.000000,0.015627,9.368364e-07,euclidean,7,2,distance,"{'metric': 'euclidean', 'n_neighbors': 7, 'p':...",0.857143,0.875000,0.857143,0.928571,0.946429,0.892857,0.037457,19
12,0.003126,0.006251,0.018751,6.250811e-03,euclidean,9,1,uniform,"{'metric': 'euclidean', 'n_neighbors': 9, 'p':...",0.857143,0.875000,0.839286,0.946429,0.964286,0.896429,0.049744,13
13,0.003125,0.006251,0.012501,6.250358e-03,euclidean,9,1,distance,"{'metric': 'euclidean', 'n_neighbors': 9, 'p':...",0.857143,0.857143,0.857143,0.928571,0.946429,0.889286,0.039770,22
14,0.006249,0.007654,0.015627,8.476443e-07,euclidean,9,2,uniform,"{'metric': 'euclidean', 'n_neighbors': 9, 'p':...",0.857143,0.875000,0.839286,0.946429,0.964286,0.896429,0.049744,13
15,0.000000,0.000000,0.015626,1.800652e-06,euclidean,9,2,distance,"{'metric': 'euclidean', 'n_neighbors': 9, 'p':...",0.857143,0.857143,0.857143,0.928571,0.946429,0.889286,0.039770,22
16,0.006252,0.007657,0.018749,6.253314e-03,manhattan,3,1,uniform,"{'metric': 'manhattan', 'n_neighbors': 3, 'p':...",0.892857,0.839286,0.839286,0.910714,0.910714,0.878571,0.032733,37
17,0.003127,0.006253,0.012501,6.250334e-03,manhattan,3,1,distance,"{'metric': 'manhattan', 'n_neighbors': 3, 'p':...",0.875000,0.839286,0.803571,0.892857,0.910714,0.864286,0.038465,46
18,0.006252,0.007658,0.015624,2.229437e-06,manhattan,3,2,uniform,"{'metric': 'manhattan', 'n_neighbors': 3, 'p':...",0.892857,0.839286,0.839286,0.910714,0.910714,0.878571,0.032733,37
19,0.008718,0.011368,0.011828,6.055591e-03,manhattan,3,2,distance,"{'metric': 'manhattan', 'n_neighbors': 3, 'p':...",0.875000,0.839286,0.803571,0.892857,0.910714,0.864286,0.038465,46
20,0.004503,0.006168,0.018850,7.042361e-03,manhattan,5,1,uniform,"{'metric': 'manhattan', 'n_neighbors': 5, 'p':...",0.857143,0.875000,0.857143,0.946429,0.964286,0.900000,0.046015,4
21,0.003978,0.006054,0.012044,1.097365e-02,manhattan,5,1,distance,"{'metric': 'manhattan', 'n_neighbors': 5, 'p':...",0.875000,0.875000,0.821429,0.892857,0.964286,0.885714,0.046015,31
22,0.008143,0.006368,0.017934,3.240508e-03,manhattan,5,2,uniform,"{'metric': 'manhattan', 'n_neighbors': 5, 'p':...",0.857143,0.875000,0.857143,0.946429,0.964286,0.900000,0.046015,4
23,0.009375,0.007654,0.003126,6.251526e-03,manhattan,5,2,distance,"{'metric': 'manhattan', 'n_neighbors': 5, 'p':...",0.875000,0.875000,0.821429,0.892857,0.964286,0.885714,0.046015,31
24,0.009377,0.007656,0.015625,2.674542e-06,manhattan,7,1,uniform,"{'metric': 'manhattan', 'n_neighbors': 7, 'p':...",0.857143,0.857143,0.857143,0.946429,0.964286,0.896429,0.048445,16
25,0.000000,0.000000,0.012502,6.250930e-03,manhattan,7,1,distance,"{'metric': 'manhattan', 'n_neighbors': 7, 'p':...",0.857143,0.857143,0.821429,0.910714,0.946429,0.878571,0.044320,40
26,0.006251,0.007656,0.018752,6.251479e-03,manhattan,7,2,uniform,"{'metric': 'manhattan', 'n_neighbors': 7, 'p':...",0.857143,0.857143,0.857143,0.946429,0.964286,0.896429,0.048445,16
27,0.003126,0.006252,0.012501,6.250310e-03,manhattan,7,2,distance,"{'metric': 'manhattan', 'n_neighbors': 7, 'p':...",0.857143,0.857143,0.821429,0.910714,0.946429,0.878571,0.044320,40
28,0.006250,0.007654,0.015627,1.007019e-06,manhattan,9,1,uniform,"{'metric': 'manhattan', 'n_neighbors': 9, 'p':...",0.857143,0.875000,0.857143,0.946429,0.964286,0.900000,0.046015,4
29,0.012501,0.006251,0.003125,6.249714e-03,manhattan,9,1,distance,"{'metric': 'manhattan', 'n_neighbors': 9, 'p':...",0.857143,0.857143,0.839286,0.928571,0.946429,0.885714,0.043154,31
30,0.009374,0.007654,0.015626,1.983322e-06,manhattan,9,2,uniform,"{'metric': 'manhattan', 'n_neighbors': 9, 'p':...",0.857143,0.875000,0.857143,0.946429,0.964286,0.900000,0.046015,4
31,0.003126,0.006252,0.006250,7.654480e-03,manhattan,9,2,distance,"{'metric': 'manhattan', 'n_neighbors': 9, 'p':...",0.857143,0.857143,0.839286,0.928571,0.946429,0.885714,0.043154,31
32,0.006250,0.007654,0.018752,6.251527e-03,minkowski,3,1,uniform,"{'metric': 'minkowski', 'n_neighbors': 3, 'p':...",0.892857,0.839286,0.839286,0.910714,0.910714,0.878571,0.032733,37
33,0.003125,0.006250,0.009375,7.654461e-03,minkowski,3,1,distance,"{'metric': 'minkowski', 'n_neighbors': 3, 'p':...",0.875000,0.839286,0.803571,0.892857,0.910714,0.864286,0.038465,46
34,0.003124,0.006249,0.015627,2.862612e-06,minkowski,3,2,uniform,"{'metric': 'minkowski', 'n_neighbors': 3, 'p':...",0.892857,0.875000,0.839286,0.910714,0.910714,0.885714,0.026726,28
35,0.006250,0.007655,0.006250,7.655123e-03,minkowski,3,2,distance,"{'metric': 'minkowski', 'n_neighbors': 3, 'p':...",0.875000,0.875000,0.821429,0.892857,0.892857,0.871429,0.026245,43
36,0.003125,0.006250,0.018752,6.249477e-03,minkowski,5,1,uniform,"{'metric': 'minkowski', 'n_neighbors': 5, 'p':...",0.857143,0.875000,0.857143,0.946429,0.964286,0.900000,0.046015,4
37,0.000000,0.000000,0.012501,6.250644e-03,minkowski,5,1,distance,"{'metric': 'minkowski', 'n_neighbors': 5, 'p':...",0.875000,0.875000,0.821429,0.892857,0.964286,0.885714,0.046015,31
38,0.003124,0.006248,0.018754,6.250120e-03,minkowski,5,2,uniform,"{'metric': 'minkowski', 'n_neighbors': 5, 'p':...",0.875000,0.875000,0.875000,0.928571,0.946429,0.900000,0.031135,4
39,0.015626,0.000002,0.000000,0.000000e+00,minkowski,5,2,distance,"{'metric': 'minkowski', 'n_neighbors': 5, 'p':...",0.857143,0.857143,0.857143,0.928571,0.946429,0.889286,0.039770,22
40,0.000000,0.000000,0.022386,8.318670e-03,minkowski,7,1,uniform,"{'metric': 'minkowski', 'n_neighbors': 7, 'p':...",0.857143,0.857143,0.857143,0.946429,0.964286,0.896429,0.048445,16
41,0.008700,0.007210,0.012410,1.154862e-02,minkowski,7,1,distance,"{'metric': 'minkowski', 'n_neighbors': 7, 'p':...",0.857143,0.857143,0.821429,0.910714,0.946429,0.878571,0.044320,40
42,0.007251,0.007078,0.016076,8.981471e-04,minkowski,7,2,uniform,"{'metric': 'minkowski', 'n_neighbors': 7, 'p':...",0.875000,0.875000,0.857143,0.946429,0.964286,0.903571,0.043154,1
43,0.003126,0.006251,0.012501,6.250382e-03,minkowski,7,2,distance,"{'metric': 'minkowski', 'n_neighbors': 7, 'p':...",0.857143,0.875000,0.857143,0.928571,0.946429,0.892857,0.037457,19
44,0.006250,0.007655,0.018752,6.250072e-03,minkowski,9,1,uniform,"{'metric': 'minkowski', 'n_neighbors': 9, 'p':...",0.857143,0.875000,0.857143,0.946429,0.964286,0.900000,0.046015,4
45,0.000000,0.000000,0.015626,5.223489e-07,minkowski,9,1,distance,"{'metric': 'minkowski', 'n_neighbors': 9, 'p':...",0.857143,0.857143,0.839286,0.928571,0.946429,0.885714,0.043154,31
46,0.006250,0.007654,0.018751,6.251550e-03,minkowski,9,2,uniform,"{'metric': 'minkowski', 'n_neighbors': 9, 'p':...",0.857143,0.875000,0.839286,0.946429,0.964286,0.896429,0.049744,13
47,0.000000,0.000000,0.015626,1.752012e-06,minkowski,9,2,distance,"{'metric': 'minkowski', 'n_neighbors': 9, 'p':...",0.857143,0.857143,0.857143,0.928571,0.946429,0.889286,0.039770,22

In [28]:
age_input=float(input("Age."))
salary_input=float(input("salary:"))
sex_male_input=int(input("Sex Male 0 or 1:"))

Age. 20
salary: 55
Sex Male 0 or 1: 1

In [29]:
grid.predict([[age_input,salary_input,sex_male_input]])

array([1])